*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-30{
    margin-top: 30px;
}
.margin-top-15{
    margin-top: 15px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
}
nav{
    margin-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
main{
    margin-top: 50px;
    max-width: 1280px;
    margin: auto;
}